<h2 class="page-header">New Book</h2 class="page-header">
<form action="/books" method="POST">
    <%- include("_form_fields") %> 
    <div class="btn-row">
        <a class="btn btn-primary" href="/books">Cancel</a>
        <button class="btn btn-danger" type="submit">Create</button>
    </div>
</form>